{% extends "layout.html" %}
{% block body %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
            <div class="message {{category}}">{{message}}</div>
        {% endfor %}
    {% endwith %}
    <div class="options">
        <div class="box option create">
            <h2>Create</h2>
            <form action="authorize/request/" method="POST">
                <div class="form-group">
                    <input type="text" class="form-control" name="playlistName"
                    id="playlistName" placeholder="Name of Playlist">
                </div>
                <input type="hidden" value="create" name="action">
            <button type="submit" id="make-playlist-btn">Make
                    Playlist</button>
              </form>
        </div>
        <div class="box option update">
            <h2>Update</h2>
                <p>Add the newest X102.9 songs to a preexisting playlist.</p>
                <form action="authorize/request/" name="action" method="POST">
                    <input type="hidden" value="update">
                    <button type="submit" id="update-playlist-btn">Update
                    Playlist</button>
                </form>
        </div>
    </div>
    <div class="box about">
        <h2>About</h2>
        <p>blah blah blah</p>
    </div>
{% endblock%}
