<!doctype html>
<html>
<head>
	<title>X1029 Playlist Maker</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',
    filename='style.css') }}">
</head>
<body>
	<h1>X1029 Playlist Maker</h1>
    <div class="container">
        <div class="options">
            <div class="option create">
                <h2>Create</h2>
                <form action="authorize/request/" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control" name="playlistName"
                        id="playlistName" placeholder="Name of Playlist">
                    </div>
                </form>
                <button type="submit" class="btn btn-primary btn-lg">Make
                        Playlist</button>

            </div>
            <div class="option update">
                <h2>Update</h2>
                    <p>Add the newest X102.9 songs to a preexisting playlist.</p>
                    <button type="submit" class="btn btn-primary btn-lg">Update
                        Playlist</button>
            </div>
        </div>
        <div class="about">
        <h2>About</h2>
        <p>blah blah blah<p>
        </div>
    </div>
</body>
</html>
